<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <a href="/"><strong>Uno Drive</strong></a>
      <div class="login-buttons">
        <% if (user) {%>
        <a href="/log-out"><strong>Log Out</strong></a>
        <% } else { %>
        <a href="/login"><strong>Log In</strong></a>
        <%}%> <a href="/sign-up"><strong>Sign Up</strong></a>
      </div>
    </div>
    <hr />
    <!-- Header ends here -->
    <div class="container">
      <h1><%= folder.name %></h1>
      <% files.forEach((file) => { %>
      <p>
        <a href="/folder/<%= file.folderId %>/file/<%= file.id %>/"
          ><%= file.filename %></a
        >
      </p>
      <% }); %>
      <form
        action="/folder/<%= folder.id %>/upload"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="input-field">
          <label for="files">Upload Files</label>
          <input type="file" class="account-button" name="files" />
        </div>
        <button type="submit" class="account-button">Upload</button>
      </form>
      <button type="submit" class="account-button">
        <a href="/folder/<%= folder.id %>/update"
          ><strong>Rename Folder</strong></a
        >
      </button>
      <button type="submit" class="account-button">
        <a href="/folder/<%= folder.id %>/delete"
          ><strong>Delete Folder</strong></a
        >
      </button>
    </div>
  </body>
</html>
